* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #2B283A;
}

h1,
p {
    margin: 0;
}

.main-container {
    max-width: 550px;
    margin: 0 auto;
}

/* header */

.header {
    background-color: #F55A5A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    height: 55px;
}

.header-logo {
    height: 24px;
}

.header-title {
    font-size: .9rem;
    font-weight: 500;
}

/* post */

.posts-container {
    padding: 1em 0;
}

.post {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 1.5em;
    align-items: center;
    padding: 1em 2em;
}

.post-image {
    width: 125px;
    height: 165px;
    object-fit: cover;
    border-radius: 5px;
    grid-row: 1 / -1;
}

.post-location {
    margin-top: 1em;
    font-size: .625rem;
    display: flex;
    gap: .5em;
    margin-bottom: .25em;
}

.post-location i {
    color: #F55A5A;
}

.post-location-country {
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

.post-location a {
    margin-left: 1em;
    color: #918E9B;
    border-bottom: 1px solid #918E9B;
    text-decoration: none;
    cursor: pointer;
}

.post-title {
    margin-bottom: .5em;
    font-size: 1.5rem;
}

.post-date {
    font-size: .625rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.post-description {
    font-size: .625rem;
    line-height: 1.5;
}

@media (max-width: 450px) {

    .post-image {
        grid-row: 1 / 4;
    }

    .post-description {
        grid-column: 1 / -1;
        margin-top: 1em;
    }

    .post-location {
        align-self: center;
        flex-direction: column;
    }

    .post-location a {
        margin-left: 0;
    }

    .post-title {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    .post-date {
        display: flex;
        flex-direction: column;
    }

}